.invisivel {
    display: none;
}
header {
    text-align: center;
}
body {
    background-image: url(../src/img/background.gif);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100%;
}
main {
    color: black;
    background-image: url(../src/img/paint.png);
    padding: 40px 80px;
    width: 326px;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 375px;
    text-align: center;
}
aside {
    background-image: url(../src/img/win98box.png);
    background-size: 430px 305px;
    color: black;
    border-top: -70px;
    padding: 65px;
    width: 300px;
    height: 175px;
    margin-top: -20px;
    margin-right: 200px;
    text-align: center;
    float: right;
    position: absolute;
    display: inline-block;
    left: 910px;
}
#estatua{
    width: 360px;
    height: 80px;
    margin-top: 40px;
}
#logo{
    position: absolute;
    left: 370px;
    top: -130px;
}
#mensagem {
    font-size: 20px;
    display: inline-block;
}
#codificar {
    width: 30%;
}
#descodificar {
    width: 38%;
}
#limpar {
    width: 28%
}
#resultados {
    font-size: 16px;
    word-wrap: break-word;
    overflow: auto;
    height: 145px;
}
.caixaMensagem {
    width: 350px;
    height: 120px;
}
.caixaOffset {
    width: 50px;
    height: 30px;
}
.dados{
    font-size: 14px;
    text-align: center;
}

